.footer {
  background-color: var(--color-cola);
  padding: 96px 0 0 0;
}

.footer-row {
  display: flex;
}

.footer__column {
  width: 21.6%;
}

.footer__column:first-child {
  width: 35%;
}

.footer__column-desc {
  width: 267px;
  margin-top: 18px;
  font-size: var(--font-size-3xs);
  font-weight: var(--font-weight-default);
  line-height: var(--line-height-3xs);
  color: var(--color-cotton-seed);
}

.footer__list-social {
  display: flex;
  gap: 18px;
  margin-top: 18px;
  align-items: center;
}

.footer__column-heading {
  font-size: var(--font-size-2xs);
  font-weight: var(--font-weight-sm);
  line-height: var(--line-height-2xs);
  color: var(--color-while);
  position: relative;
  padding-bottom: 14px;
}

.footer__column-heading::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: var(--color-fuscous-gray);
  display: inline-block;
  bottom: 0;
  left: 0;
  width: 130px;
}

.footer-list {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__item-link {
  font-size: var(--font-size-3xs);
  font-weight: var(--font-weight-default);
  line-height: var(--line-height-3xs);
  color: var(--color-cotton-seed);
}

.footer__item-link strong {
  font-weight: var(--font-weight-sm);
  color: var(--color-while);
}

.footer-copyright {
  margin-top: 38px;
  display: block;
  padding: 28px 0;
  text-align: center;
  font-size: var(--font-size-3xs);
  line-height: var(--line-height-3xs);
  font-weight: var(--font-weight-default);
  color: var(--color-friar-gray);
  border-top: 1px solid var(--color-fuscous-gray);
}
