.header {
  background-color: var(--color-quarter-pearl);
}

.sticky {
  position: sticky;
  top: -28px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.header-navbar {
  margin-left: auto;
}

.navbar-list {
  display: flex;
  gap: 42px;
  position: relative;
}

.navbar-list::after {
  content: "";
  width: 12px;
  height: 2px;
  background-color: var(--color-secondary);
  position: absolute;
  bottom: 2px;
  left: 0;
}

.navbar__item-link {
  font-size: var(--font-size-2xs);
  font-weight: var(--font-weight-default);
  line-height: var(--line-height-2xs);
  color: var(--color-chicago);
}

.navbar__item-link:hover,
.navbar__item-link--active {
  text-shadow: 1px 0 0 currentColor;
  color: var(--color-secondary);
}

.header-action {
  margin-left: 70px;
}

.header-action .sign-up-btn {
  min-width: 144px;
}
