.header {
  background-color: var(--color-quarter-pearl);
}

.sticky {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.header-wrapper {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.header-navbar {
  margin-left: auto;
}

.navbar-list {
  display: flex;
  gap: 42px;
  position: relative;
}

.navbar-list::after {
  content: "";
  width: 12px;
  height: 2px;
  background-color: var(--color-secondary);
  position: absolute;
  bottom: 2px;
  left: 0;
}

.navbar__item-link {
  font-size: var(--font-size-2xs);
  font-weight: var(--font-weight-default);
  line-height: var(--line-height-2xs);
  color: var(--color-chicago);
}

.navbar__item-link:hover,
.navbar__item-link--active {
  text-shadow: 1px 0 0 currentColor;
  color: var(--color-secondary);
}

.header-action {
  margin-left: 70px;
}

.header-action .sign-up-btn {
  min-width: 144px;
}

/* Hero */

.hero {
  padding: 56px 0 64px 0;
  background-color: var(--color-quarter-pearl);
}

.hero-wrapper {
  display: flex;
}

/*  <!-- Hero Left --> */
.hero-media {
  width: 48%;
  position: relative;
}

.media-img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: var(--border-radius-sm);
  vertical-align: bottom;
}

/* <!-- Hero Summary --> */
.hero-summary {
  position: absolute;
  bottom: 48px;
  right: 0;
  padding: 24px;
  background-color: var(--color-while);
  border-radius: var(--border-radius-default);
  box-shadow: 0px 16px 32px 0px #0000000d;
  width: 270px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.summary__item {
  display: flex;
  align-items: center;
}

.summary-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--color-early-dawn);
  display: flex;
  align-items: center;
  justify-content: center;
}

.summary__item:nth-of-type(2) .summary-icon {
  background-color: var(--color-white-pointer);
}

.summary__item:nth-of-type(3) .summary-icon {
  background-color: var(--color-titan-white);
}

.summary-info {
  margin-left: 16px;
}

.summary__lable {
  font-size: var(--font-size-3xs);
  font-weight: var(--font-weight-default);
  color: var(--color-chicago);
  line-height: var(--line-height-3xs);
}

.summary__title {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-sm);
  line-height: var(--line-height-xs);
  color: var(--color-secondary);
}

/*  <!-- Hero Right --> */
.hero-content {
  width: 52%;
  padding: 64px 0 0 130px;
}

.hero__heading {
  font-family: "Sen", sans-serif;
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-2xl);
  color: var(--color-secondary);
  letter-spacing: -0.02em;
  margin-bottom: 22px;
}

.hero__desc {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-default);
  line-height: var(--line-height-xs);
  color: var(--color-chicago);
}

.hero-cta {
  margin-top: 38px;
  margin-bottom: 48px;
}

.hero-cta .courses-btn {
  padding: 17px 16px;
  min-width: 180px;
  background-color: var(--color-primary);
  border-radius: var(--border-radius-xl);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
}

.hero-btn {
  border: none;
  outline: none;
  display: inline-flex;
  background-color: transparent;
  margin-left: 28px;
  align-items: center;
  cursor: pointer;
}

.hero__icon {
  width: 40px;
  height: 40px;
  background-color: var(--color-while);
  box-shadow: 0px 8px 16px 0px #00000012;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 14px;
}

.hero-watch-video {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-sm);
  line-height: var(--line-height-xs);
  color: var(--color-secondary);
}

.hero__desc strong {
  padding: 8px 8px 0 28px;
  font-family: "Sen", sans-serif;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-xl);
  color: var(--color-secondary);
  display: inline-block;
}

.hero__desc strong:first-child {
  padding-left: 0;
}
